{% extends "users/base.html" %}
{% block content %}

<form action="{% url 'listagem_usuarios' %}" method="post">
    {% csrf_token %}
    <div style="text-align: center;
                display: flex;
                flex-direction: column;
                width: 500px;
    " class="container">
        <h1>Users register</h1>
        Name <input name="name" class="form-control-sm" type="text" autocomplete="off"> 
        Age <input name="age" class="form-control-sm" type="text" autocomplete="off"> 
        <button class="form-control-sm">Enviar</button>
    </div>
</form>
{% endblock %}