@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root {
    --cor0: #185941;
    --cor1: #32994c;
    --cor2: #C9A472;
    --cor3: #6B3739;
    --cor4: #850C13;

    --font1: 'Cinzel';
}

* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0px;
    background-color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor0);
    height: 30%;
    width: 100px;
    transition-duration: 0.5s;
    margin: 0px 25px;
}
nav a:hover {
    border-bottom: 1px solid var(--cor0);
    transform: scale(1.2);
}
nav #logo { 
    width: 100px;
    margin: 0px 10px;
    padding: 0px;
}
nav #logo:hover{
    background-color: transparent;
    border: none;
    transform: none;
}
nav img {
    width: 100px;
}
main h2 {
    text-align: center;
    font-family: var(--font1);
    color: var(--cor0);
    font-size: 40px;
}
#container1 {
    margin-top: 120px;
    display: inline-block;
    width: 100%;
}
#history-container {
    font-family: var(--font1);
    width: 55%;
    height: 600px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#history-container h1 {
    text-align: center;
    font-size: 50px;
    color: var(--cor0);
}
#history-container p {
    text-indent: 50px;
    font-size: 20px;
    padding: 30px 30px 30px 60px;
    color: var(--cor1);
    text-align: justify;
}
#image1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 600px;
    float: left;
}
#image1-container img {
    width: 30vw;
    height: 25vw;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.686);
}
#menu-title {
    width: 100%;
    height: 100px;
}
#menu-container {
    padding-top: 20px;
    width: 60%;
    height: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:  75px;
    flex-wrap: wrap;
    flex-direction: row;
    }
#menu-container p {
    font-family: var(--font1);
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    margin-top: 10px;
    color: var(--cor2);
    font-size: 20px;
}
#menu-container img {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.329);
    border-radius: 20px;
    transition: 0.5s;
}
#menu-container img:hover {
    filter: brightness(0.8);
}
.card {
    width: 230px;
    height: 230px;
    transition: 0.5s;
}
.card:hover {
    transform: scale(.95);
}
#image2-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
#image2-container h1{
    font-family: var(--font1);
    width: 100%;
    height: 50%;
    color: var(--cor2);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
}
#image2-container p {
    font-family: var(--font1);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.text-container1 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}
#minipizza-container {
    width: 50%;
    height: 450px;
    background: url("images/minipizzatutti2.jpg") no-repeat;  
    background-size: 100% 100%;
    animation: images-minipizza 8s infinite ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

}
#events-container {
    width: 50%;
    height: 450px;
    background: url("images/eventostutti2.jpg") no-repeat;  
    background-size: 100% 100%;
    float: right;
    animation: images-events 8s infinite linear;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
@keyframes images-minipizza {
    from {
        background-image: url("images/minipizzatutti2.jpg");
        background-size: 100% 100%;
        animation-delay: 3s;
    }
    50% {
        background-image: url("images/minipizzatutti1.jpg");
        background-size: 100% 100%;
        background-position: center;
        animation-delay: 3s;
    }
    100% {
        background-image: url("images/minipizzatutti2.jpg");
        background-size: 100% 100%;
        animation-delay: 3s;
    }
}
@keyframes images-events {
    from {
        background-image: url("images/eventostutti2.jpg");
        background-size: 100% 100%;
        animation-delay: 3s;
    }
    50% {
        background-image: url("images/eventostutti1.jpg");
        background-size: 100% 100%;
        animation-delay: 3s;
    }
    100% {
        background-image: url("images/eventostutti2.jpg");
        background-size: 100% 100%;
        animation-delay: 3s;
    }
}
#reserve-container-smallsize {
    display: none;
    padding: 50px 0px;
}
#reserve-container-smallsize h1 {
    color: black;
    text-align: center;
}
#reserve-container-fullsize {
    width: 100%;
    height: 400px;
    font-family: var(--font1);
}
#reserve-container-fullsize h1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 50px;
}
#button-container1 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-container2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.button {
    padding: 20px;
    font-size: 30px;
    color: white;
    font-family: var(--font1);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor2);
    margin-top: 30px;
    border-radius: 10px;
    transition: 0.5s;
}
.button:hover {
    background-color: #a7875f;
    transform: scale(1.1);
}
#footer-container {
    font-family: var(--font1);
    width: 100%;
    height: fit-content;
    background-color: var(--cor0);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    display: flex;
}
#slogan {
    width: 25%;
    height: 250px;
    display: block;
}
#slogan p {
    font-family: var(--font1);
    text-indent: 20px;
    padding: 0px 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: rgb(190, 190, 190);
    font-weight: bold;
}
#slogan img {
    display: flex;
    margin: 10px auto 0px;
    width: 120px;
    height: 100px;
}
@media (max-width: 1460px) {
    #slogan p {
        font-size: 18px;
    }
}
@media (max-width: 1350px) {
    #slogan p {
        font-size: 17px;
    }
}
@media (max-width: 1080px) {
    #footer-container {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 1400px) {
    #container1 {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    #history-container {
        width: 100%;
        height: 300px;
        margin-top: 50px;
    }
    #image1-container {
        width: 100%;
        height: 500px;
    }
    #image1-container img {
        width: 60%;
        height: 400px;
    }
}
#horary {
    width: 25%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}
#horary h1 {
    color: white;
    font-size: 30px;
    margin-top: 33px;
}
#horary p {
    color: rgb(190, 190, 190);
    font-size: 17px;
    font-weight: bold;
    width: 260px
}
#horary p:nth-of-type(1) {
    margin-top: 25px;
}
#horary p:nth-of-type(5) {
    width: 100%;
    text-align: center;
    margin-top: 18px;
}
#horary p:nth-of-type(5)::before {
    content: "";
}
#horary p:hover {
    color: var(--cor2)
}
#horary p::before {
    content: "🕒";
}
#contact {
    width: 25%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}
#contact h1 {
    font-size: 30px;
    color: white;
    margin-top: 33px;
}
#contact p {
    font-size: 17px;
    color: rgb(200, 200, 200);
    font-weight: bold;
    width: 240px;
}
#contact p:hover {
    color: var(--cor2);
}
#contact p:nth-of-type(1) {
    margin-top: 25px;
}
#contact p:nth-of-type(1)::before {
    content: "📞";
    margin-right: 10px;
}
#contact p:nth-of-type(2)::before {
    content: "📞";
    margin-right: 10px;
}
#contact p:nth-of-type(3) {
    width: 250px;
    margin-top: 43px;
}
#contact a {
    color: rgb(200, 200, 200);
    font-family: var(--font1);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    width: 300px;
    margin-left: 70px;
}
#contact a:hover {
    color: var(--cor2);
}
#contact img {
    width: 16px;
    filter: invert();
    margin-right: 10px;
}
#location {
    width: 25%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#map iframe {
    width: 80%;
    height: 200px;
    border-radius: 10px;
}
#rights {
    width: 100%;
    height: 25px;
    color: var(--cor2);
    background-color: #113e2e;
    box-shadow: 0px -5px 5px #113e2e;
    text-align: center;
    line-height: 25px;
}
@media (max-width: 900px) {
    #logo {
        width: 50%;
        display: flex;
    }
    nav a {
        width: 30px;
        font-size: 15px;
    }
    nav #logo img{
        width: 70px;
        margin: 0px;
    }
    #container1 {
        margin-top: 70px;
        width: 100%;
        display: block;
        height: fit-content;
    }
    #history-container {
        width: 100%;
        height: 300px;
        margin-top: 50px;
    }
    #history-container h1 {
        font-size: 30px;
        padding: 0px 10px;
    }
    #history-container p{
        padding: 16px;
    }
    #image1-container {
        width: 100%;
        height: 500px;
    }
    #image1-container img {
        width: 100%;
        height: 400px;
    }
    #image2-container {
        display: block;
    }
    #image2-container p {
        text-align: center;
    }
    #minipizza-container {
        width: 100%;
    }
    #events-container {
        margin: 50px 0px;
        width: 100%;
    }
    #reserve-container-smallsize {
        display: block;
        margin: 50px 0px;
    }
    #reserve-container-fullsize {
        display:none;
    }
    .button {
        font-size: 16px;
    }
    #footer-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        height: 1000px;
    }
    #footer-container > #slogan {
        width: 100%;
    }
    #slogan p {
        font-size: 20px;
    }
    #contact p {
        font-size: 17px;
    }
    #horary p {
        font-size: 17px;
    }
    #footer-container > #horary {
        width: 100%;
    }
    #footer-container > #contact {
        width: 100%;
    }
    #footer-container > #location {
        width: 100%;
    }
    iframe {
        width: 150px;
        height: 100px;
    }
    #rights {
        font-size: 14px;
    }
}