@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root {
    --cor0: #185941;
    --cor1: #32994c;
    --cor2: #C9A472;
    --cor3: #6B3739;
    --cor4: #850C13;

    --font1: 'Cinzel';
}

* {
    margin: 0;
    padding: 0;
}
nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.335);
    z-index: 100;
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor0);
    height: 30%;
    width: 100px;
    transition-duration: 0.5s;
    margin: 0px 20px;
}
nav a:hover {
    border-bottom: 1px solid var(--cor0);
    transform: scale(1.2);
}
nav #logo { 
    width: 100px;
    margin: 0px 10px;
    padding: 0px;
}
nav #logo:hover{
    background-color: transparent;
    border: none;
    transform: none;
}
nav img {
    width: 100px;
}
main h2 {
    text-align: center;
    font-family: var(--font1);
    color: var(--cor0);
    font-size: 40px;
}
#container1 {
    margin-top: 120px;
    display: inline-block;
    width: 100%;
}
#history-container {
    font-family: var(--font1);
    margin-top: 150px;
    width: 50%;
    height: 400px;
    float: left;
}
#history-container h1 {
    text-align: center;
    font-size: 50px;
    color: var(--cor0);
}
#history-container p {
    text-indent: 50px;
    font-size: 20px;
    padding: 30px;
    color: var(--cor1);
}
#image1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 600px;
    float: left;
}
#image1-container img {
    width: 70%;
    height: 500px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.686);
}
@media (max-width: 900px) {
    #logo {
        width: 50%;
        display: flex;
    }
    nav a {
        width: 30px;
        font-size: 15px;
    }
    nav #logo img{
        width: 70px;
        margin: 0px;
    }
    #container {
        margin-top: 70px;
        width: 100%;
        display: block;
        height: fit-content;
    }
    #history-container {
        width: 100%;
        height: 300px;
        margin-top: 50px;
    }
    #history-container h1 {
        font-size: 30px;
    }
    #history-container p{
        padding: 16px;
    }
    #image1-container {
        width: 100%;
        height: 500px;
    }
    #image1-container img {
        width: 100%;
    }
}
#menu-container {
    padding-top: 50px;
    width: 60%;
    margin: auto;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: row;
}
#menu-container p {
    font-family: var(--font1);
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    margin-top: 5px;
    color: var(--cor2);
    font-size: 20px;
}

#menu-container img {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.329);
    transition: 0.5s;
}
.card {
    width: 300px;
    height: 300px;
    background-color: black;
    transition: 0.5s;
}
.card:hover {
    transform: scale(1.03);
}
